
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    <main>

        @Html.Action("PartialHeader", "Default")

        @Html.Action("PartialNavbar", "Default")

        @RenderBody()

    </main>

    @Html.Action("PartialFooter", "Default")

</body>

</html>
