
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    <main>

        @Html.Action("PartialHeader", "Default")

        @Html.Action("PartialNavbar", "Default")

        @Html.Action("PartialFeature", "Default")

        @Html.Action("PartialAbout", "Default")

        @Html.Action("PartialMeetArtist", "Default")

        @Html.Action("PartialEventSchedule", "Default")

        @Html.Action("PartialTicket", "Default")
        
        @Html.Action("PartialContact", "Default")

    </main>

    @Html.Action("PartialFooter", "Default")

</body>

</html>
